<a href="https://colab.research.google.com/github/froll123/Python_Seminar9/blob/main/Practical_work_No_9_Seminar_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

**1. Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data**

In [2]:
df = pd.read_csv('sample_data/california_housing_train.csv') # в скобках путь к файлу ('sample_data/california_housing_test.csv')

**2. Посмотреть сколько в нем строк и столбцов**

In [3]:
df.shape

(17000, 9)

**3. Определить какой тип данных имеют столбцы**

In [4]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

**4. Проверить есть ли в файле пустые значения**

In [5]:
df.isnull()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,False,False,False,False,False,False
16996,False,False,False,False,False,False,False,False,False
16997,False,False,False,False,False,False,False,False,False
16998,False,False,False,False,False,False,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

**5. Показать данные в первых 2 столбцах**

In [7]:
df[['longitude', 'latitude']]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

**6. Выбрать данные где housing_madian_age < 20 и median_house_value > 70000**

In [8]:
df[(df['housing_median_age'] < 20) & (df['median_house_value'] > 70000)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
23,-114.98,33.82,15.0,644.0,129.0,137.0,52.0,3.2097,71300.0
...,...,...,...,...,...,...,...,...,...
16976,-124.17,40.75,13.0,2171.0,339.0,951.0,353.0,4.8516,116100.0
16983,-124.19,41.78,15.0,3140.0,714.0,1645.0,640.0,1.6654,74600.0
16991,-124.23,41.75,11.0,3159.0,616.0,1343.0,479.0,2.4805,73200.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0

**7. Определите какое максимальное и минимальное значение median_house_value**

In [9]:
print(df['median_house_value'].max())

500001.0

In [10]:
print(df['median_house_value'].min())

14999.0

**8. Показать максимальное median_house_value, где madian_income = 3.1250**

In [11]:
df[df.median_income == 3.1250]['median_house_value'].max()

380400.0

**9. Узнать какая максимальная population в зоне минимального значения median_house_value**

In [12]:
df[df.median_house_value == df['median_house_value'].min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
568,-117.02,36.40,19.0,619.0,239.0,490.0,164.0,2.1000,14999.0
3226,-117.86,34.24,52.0,803.0,267.0,628.0,225.0,4.1932,14999.0
16643,-122.74,39.71,16.0,255.0,73.0,85.0,38.0,1.6607,14999.0
16801,-123.17,40.31,36.0,98.0,28.0,18.0,8.0,0.5360,14999.0

In [13]:
df[df.median_house_value == df['median_house_value'].min()]['population'].max()

628.0

# ***Домашняя работа***

**Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить стоимость дома, где кол-во людей от 0 до 500 (population)**

In [14]:
df[(df['population'] > 0) & (df['population'] < 500)].median_house_value.mean()

206683.83635227982

In [15]:
min_population = df.population.min()
df[
    df['population'] == min_population
].households.max()

4.0

**Задача 42: Узнать какая максимальная households в зоне минимального значения population**

In [16]:
df[df['population'] == df['population'].min()]['households'].max()

4.0